<app-header [attr.aria-hidden]='openLightbox !== null'></app-header>
<div class='controls' [class.hidden]='openLightbox !== null' [attr.aria-hidden]='openLightbox !== null'>
    <a class='contract' (click)='close(true)' aria-hidden="true">צמצום תעודת זהות</a>
    <a class='catalog' (activated)='close(false)' clickOnReturn>חזרה לקטלוג העצים המלא</a>
    <a class='share' clickOnReturn>שיתוף</a>
    <a class='img-download' (activated)='saveAsImg()' clickOnReturn>הורדה כתמונה</a>
    @if (state.isInCart(tree)) {
        <a class='remove-from-cart' (activated)='state.removeFromCart(tree)' clickOnReturn>הסרה</a>
    } @else {
        <a class='add-to-cart' (activated)='state.addToCart(tree)' clickOnReturn>הוספה</a>
    }
    <app-cart-icon></app-cart-icon>
</div>
@if (openLightbox !== null) {
    <app-lightbox [photos]='tree.photos' [index]='openLightbox' (close)='openLightbox = null' 
        aria-modal="true" role='dialog' aria-label='גלריית תמונות'></app-lightbox>
}
@if (!!tree) {
    <div class='main-info' #mainInfo  [attr.aria-hidden]='openLightbox !== null'>
        <app-tree-info [tree]='tree'></app-tree-info>
        <div>
            <app-tree-gallery [tree]='tree' (lightbox)='openLightbox = $event'></app-tree-gallery>
            @if (tree.notesGeneral) {
                <div class='description'>
                    <strong>כללי:&nbsp;</strong><span>{{tree.notesGeneral}}</span>
                </div>    
            }
            @if (tree.notesMaintenance) {
                <div class='description'>
                    <strong>אחזקה:&nbsp;</strong><span>{{tree.notesMaintenance}}</span>
                </div>    
            }    
        </div>
    </div>
    <div class='related'  [attr.aria-hidden]='openLightbox !== null'>
        <app-treebase-info [tree]='tree'></app-treebase-info>
        <app-similar-trees [tree]='tree'></app-similar-trees>
    </div>
}
