@import '../../common.less';

:host {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    position: relative;

    .controls {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 40px;
        padding-top: 30px;
        height: 85px;
        gap: 20px;

        a {
            .background-image;
            padding-right: 28px;
            background-size: 20px;
            background-position: right center;
            cursor: pointer;
            .font-primary;
            font-size: 14px;
            font-weight: 400;

            &.contract {
                background-image: url(../../../public/img/icon-tray-left.svg);
            }

            &.catalog {
                margin-right: auto;
                background-image: url(../../../public/img/icon-thumbnails.svg);
            }

            &.share {
                background-image: url(../../../public/img/icon-share.svg);
            }

            &.img-download {
                background-image: url(../../../public/img/icon-tray-down.svg);
            }

            &.add-to-cart {
                min-width: 58px;
                background-image: url(../../../public/img/icon-star-empty-black.svg);
                &:hover {
                    background-image: url(../../../public/img/icon-star-empty-purple.svg);
                }
            }

            &.remove-from-cart {
                min-width: 58px;
                background-image: url(../../../public/img/icon-star-full-purple.svg);
            }
        }
    }

    .main-info, .related {
        display: flex;
        flex-flow: row;
        gap: 0;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        height: fit-content;
        background-color: @color-white;

        > * {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            &:first-child {
                flex: 0 0 auto;
            }

            .description {
                padding: 0 40px;

                color: @color-black;
                text-align: right;
                .font-primary;
                font-size: 18px;
                font-weight: 400;
                strong {
                    font-weight: 700;
                }
                line-height: 32px;
            }
        }
    }

    .related {
        border-top: 1px solid @color-gray-1;

        > *:first-child {
            border-left: 1px solid @color-gray-1;
        }
    }

    app-lightbox {
        z-index: 10;
    }
}