<h1>{{tree.name}}</h1>
<h2>{{tree.botanicalName}}</h2>
<div class='section'>
    <h3>התאמה תכנונית</h3>
    <div class='row'>
        <div>
            <div class='param'>
                <span>אזור אקלים</span>
                <span>{{tree.climateAreaHe.join(', ')}}</span>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>רוחב מדרכה</span>
                <span>{{tree.sidewalkWidthHe}}</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div>
            <div class='param'>
                <span>מופיע ברשימת עצים</span>
                @if ((tree.catalogs || []).length > 0) {
                    <div class='recommended'>
                        <span>{{tree.catalogs[0]}}</span>
                        @if (tree.catalogs.length > 1) {
                            <app-tooltip-wrapper [align]='tp("top")'>
                                <span anchor>, <span class='more'>{{tree.catalogs.length - 1}}+</span></span>
                                <div tooltip>
                                    <strong>שייך לרשימת עצים</strong><br/><br/>
                                    @for (catalogName of tree.catalogs; track catalogName) {
                                        @if (!$first) {
                                            <span>{{catalogName}}</span><br/>
                                        }
                                    }
                                </div>                            
                            </app-tooltip-wrapper>                        
                        }    
                    </div>
                } @else {
                    <span>לא</span>
                }
            </div>
        </div>
        <div>
            <div class='param'>
                <span>התאמה לקרקע <app-tooltip-icon-soil-type [align]='tp("bottom")'></app-tooltip-icon-soil-type></span>
                <span>{{tree.soilType}}</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div>
            <div class='param'>
                <span>מקומי <app-tooltip-icon-native [align]='tp("bottom")'></app-tooltip-icon-native></span>
                <span>{{tree.isNative ? "כן" : "לא"}}</span>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>ערך המין <app-tooltip-icon-species-value [align]='tp("bottom")'></app-tooltip-icon-species-value></span>
                <span>{{tree.speciesValue}}</span>
            </div>
        </div>
    </div>
</div>
<div class='section'>
    <h3>נוף</h3>
    <div class='row'>
        <div>
            <div class='param'>
                <span>קוטר צמרת</span>
                <span>{{tree.canopyWidth}}</span>
            </div>
            <div class='param'>
                <span>גובה העץ</span>
                <span>{{tree.canopyHeight}}</span>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>מבנה צמרת</span>
                <span class='canopy-shape'>
                    <img [src]='canopyShapeImg()' [attr.alt]='tree.canopyShapeHe'/>
                    <span>{{tree.canopyShapeHe}}</span>    
                </span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div>
            <div class='param'>
                <span>צבע פריחה</span>
                <div class='bloom-colors'>
                    @for (color of tree.bloomColor; track color) {
                        <img [src]='bloomColorImg(color)' [attr.alt]='"הצבע " + bloomColorName(color)'/>
                    } @empty {
                        <span>לא משמעותי</span>
                    }
                </div>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>מועד פריחה</span>
                <span>{{tree.bloomSeason}}</span>
            </div>
        </div>
    </div>
</div>
<div class='section'>
    <h3>אחזקה</h3>
    <div class='row'>
        <div>
            <div class='param'>
                <span>דירוג השקייה <app-tooltip-icon-watering-scale [align]='tp("bottom")'></app-tooltip-icon-watering-scale></span>
                <div class='watering-scale' [attr.aria-label]='"דירוג השקייה " + this.tree.wateringScale'>
                    @for (i of wateringScaleImg(); track $index) {
                        <img [src]='i' alt='ציור של טיפה'/>
                    }
                </div>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>קצב צימוח</span>
                <span>{{tree.growthRate}}</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div>
            <div class='param'>
                <span>חסכוני במים</span>
                <div class='line'>
                    @if (tree.isWaterEconomical) {
                        <span class='economical'></span>
                    }                
                    <span>{{tree.extraWatering}}</span>    
                </div>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>נשיר <app-tooltip-icon-deciduous [align]='tp("bottom")'></app-tooltip-icon-deciduous></span>
                <span>{{tree.deciduous}}</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div>
            <div class='param'>
                <span>מקדם שבירות <app-tooltip-icon-brittleness [align]='tp("bottom")'></app-tooltip-icon-brittleness></span>
                <span>{{tree.brittlenessCoefficient}}</span>
            </div>
        </div>
        <div>
            <div class='param'>
                <span>צופני <app-tooltip-icon-nectar [align]='tp("bottom")'></app-tooltip-icon-nectar></span>
                <span>{{tree.hasNectar ? "כן" : "לא"}}</span>
            </div>
        </div>
    </div>
</div>
<div class='section'>
    <h3>מקורות</h3>
    <div class='row'>
        <div>
            <div class='param'>
                <span class='line sources'>
                    @for (source of tree.sources; track source.id) {
                        @if (source.url) {
                            <a [href]='source.url' [title]='source.name' target='_blank'>{{source.id}}</a>
                        } @else {
                            <span [title]='source.name'>{{source.id}}</span>
                        }
                    }
                </span>
            </div>
        </div>
</div>
