@import '../../common.less';

a {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    .my-cart {
        .background-image;
        background-size: 24px;
        width: 24px;
        height: 24px;
        position: relative;
        background-image: url(../../../public/img/icon-cart-black.svg);
        background-size: 24px;
        flex: 0 0 auto;

        .cart-items {
            display: flex;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: @color-primary;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: @color-white;
            .font-primary;
            font-size: 9px;
            font-weight: 700;
            position: absolute;
            top: -5px;
            left: -7px;
        }
    }

    span {
        .font-primary;
        font-size: 18px;
        font-weight: 400;    
    }

    &:hover {
        .my-cart {
            background-image: url(../../../public/img/icon-cart-purple.svg);
            background-size: 24px;
        }
    }
}