@import '../../common.less';

:host {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;

    .hero {
        width: 100%;
        position: relative;
        height: fit-content;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0 16px;
    
        .sidewalks {
            position: relative;
            width: 100%;
            .desktop({
                height: 38.2vw;
                max-height: 578px;
            });
            .mobile({
                height: 440px;
            });
            max-width: 2000px;
            top: -20px;

            .sidewalks-scrollable {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column;
                .mobile({
                    overflow-y: auto;
                });
            }
            .sidewalks-inner {
                position: relative;
                .desktop({
                    height: 100%;
                    width: 100%;
                });
                .mobile({
                    height: 100%;
                    width: 900px;
                    min-width: 900px;
                });
            }

            .select {
                font-size: 26px;
                font-weight: 700;
                line-height: 32px;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
            }

            .sidewalk {
                display: block;
                object-fit: contain;
                cursor: pointer;
                position: absolute;
                height: 100%;
                mix-blend-mode: multiply;

                &.narrow {
                    // background-image: url(../../../public/img/illus-hp-narrow-normal.svg);
                    width: 39.4%;
                    max-width: 596px;
                    object-position: bottom;
                    right: 0;
                    bottom: 1%;
                }

                &.medium {
                    width: 25%;
                    max-width: 378px;
                    object-position: bottom;
                    right: 32.5%;
                    bottom: 1%;
                    // background-image: url(../../../public/img/illus-hp-medium-normal.svg);
                }

                &.wide {
                    width: 48.4%;
                    max-width: 732px;
                    object-position: bottom;
                    left: 0;
                    bottom: 0;
                    // background-image: url(../../../public/img/illus-hp-wide-normal.svg);
                }

            }
        }

        .cta {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            align-items: center;
            justify-content: center;

            .select-sidewalk {
                .regular-button;
            }

            .skip {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                color: @color-black;
                text-align: center;
            }
        }
        .bottom-terms {
            align-self: flex-end;
            display: flex;
            flex-flow: row;
            gap: 18px;
            padding: 0 25px;
            color: @color-gray-1;
            .font-primary;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            text-decoration: underline;
        }
    }

    .title {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 36px;     
        gap: 30px;
        max-width: 800px;
        text-align: center;
        
        h1 {
            margin: 0;
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
        }

        h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;

            .cart {
                display: inline-block;
                .background-image;
                height: 30px;
                width: 45px;
                position: relative;
                background-image: url(../../../public/img/icon-cart-black.svg);
                background-size: 45px 30px;
                vertical-align: text-top;
            }
        }
    }

    .climate-modal {
        h2, h3 {
            margin: 0;
            color: @color-black;
            .font-primary;
            text-align: center;
            line-height: 32px;
            margin: 20px 0;
        }
        h2 {
            font-size: 26px;
            font-weight: 700;
        }
        h3 {
            font-size: 18px;
            font-weight: 400;
        }
        .map {
            max-width: 390px;
            height: 440px;
            .background-image;
            background-image: url(../../../public/img/illus-climate-map.png);
            background-size: 180px 440px;
            background-position: right 40px center;
            position: relative;

            a.area {
                position: absolute;
                cursor: pointer;
                color: @color-black;
                .font-primary;
                font-size: 22px;
                font-weight: 500;
                line-height: 32px;
                .background-image;
                background-image: url(../../../public/img/hline.svg);
                background-position: right center;

                &:hover {
                    color: @color-primary;
                    font-weight: 700;
                }
            }
        }
    }

    .intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 46px;
        text-align: center;

        .title {
            h1, h2 {
                margin: 0;
                .font-primary;
                color: @color-black;                    
            }
            h1 {
                font-size: 40px;
                font-weight: 700;
                line-height: 50px;
           }
           h2 {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
           }
        }

        .terms {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 17px;

            button {
                .regular-button;
            }

            .terms-link {
                color: @color-black;
                text-align: center;
                .font-primary;
                font-size: 14px;
                font-weight: 400;
                line-height: 32px;
                text-decoration-line: underline;
            }
        }
    }
}