<app-header></app-header>
<div class='hero'>
    <div class='title'>
        <h1>קטלוג עצי רחוב וצל</h1>
        <h2>
            נתחיל את בחירת העץ בהתאמתו לרוחב המדרכה. התאמה נכונה משקפת את המרחב הזמין להתפתחות השורשים ונוף העץ ותקל על אחזקתו.
        </h2>
    </div>
    
    <div class='sidewalks'>
        <span class='select'>בחרו רוחב מדרכה</span>
        <div class='sidewalks-scrollable'>
            <div class='sidewalks-inner'>
                <img class='sidewalk narrow' 
                    [src]='sidewalkImage(SidewalkWidth.Narrow)'
                    (click)='state.selectedSidewalkWidth = state.selectedSidewalkWidth === SidewalkWidth.Narrow ? null : SidewalkWidth.Narrow'
                    (mouseover)='hovering = SidewalkWidth.Narrow'
                    (mouseout)='hovering = null'
                />
                <img class='sidewalk medium' #mediumSidewalk
                    [src]='sidewalkImage(SidewalkWidth.Medium)'
                    (click)='state.selectedSidewalkWidth = state.selectedSidewalkWidth === SidewalkWidth.Medium ? null : SidewalkWidth.Medium'
                    (mouseover)='hovering = SidewalkWidth.Medium'
                    (mouseout)='hovering = null'
                />
                <img class='sidewalk wide'
                    [src]='sidewalkImage(SidewalkWidth.Wide)'
                    (click)='state.selectedSidewalkWidth = state.selectedSidewalkWidth === SidewalkWidth.Wide ? null : SidewalkWidth.Wide'
                    (mouseover)='hovering = SidewalkWidth.Wide'
                    (mouseout)='hovering = null'
                />
            </div>
        </div>
    </div>

    <div class='cta'>
        <button class='select-sidewalk' (activated)='selectingClimateArea=true' queryParamsHandling='preserve' [disabled]='!state.selectedSidewalkWidth' clickOnReturn>לבחירת עץ לפי רוחב מדרכה</button>
        <a class='skip' [routerLink]="'/catalog'" queryParamsHandling='preserve'>אולי פעם אחרת, קחו אותי לקטלוג המלא</a>
    </div>
    <div class='bottom-terms'>
        <a routerLink='/terms'>תנאי השימוש</a>
        <a routerLink='/a11y'>הצהרת נגישות</a>
    </div>

    @if (selectingClimateArea) {
        <app-modal (close)='modalClosed()'>
            <div class='climate-modal'>
                <h2>בחרו אזור אקלים</h2>
                <h3>לא פחות חשובה היא ההתאמה לאזור האקלימי שמסייעת לעץ<br/>למצות את מלוא הפוטנציאל שלו ולשגשג לאורך זמן.
                </h3>
                <div class='map'>
                    @for (option of FC_CLIMATE_AREAS.options; track option.key) {
                        @if (option.key !== 'all') {
                            <a class='area' (activated)='selectClimateArea(option.value)' clickOnReturn
                                [style.top.px]='CLIMATE_LABELS[option.value].top'
                                [style.right.px]='CLIMATE_LABELS[option.value].right'
                                [style.padding-right.px]='CLIMATE_LABELS[option.value].lineLength + 12'
                                [style.background-size]='(CLIMATE_LABELS[option.value].lineLength + 12) + "px 2px"'
                            >{{option.label}}</a>    
                        }
                    }
                </div>
            </div>
        </app-modal>
    }
    @if (showingInitialDialog) {
        <app-modal kind='intro'>
            <div class='intro'>
                <div class='title'>
                    <h1>קטלוג עצי רחוב וצל</h1>
                    <h2>ריכזנו עבורכם בקטלוג מידע מקיף ממקורות ציבוריים פתוחים אודות עצי רחוב וצל בישראל.<br/>
                        בעזרת 
                        <span class='cart'></span>                    
                        "מריצת העצים" תוכלו להשוות בקלות בין מיני עצים, להבין שיקולי נוף ואחזקה, לראות מיקומי עצים אמיתיים, להשתמש בתמונות ועוד.</h2>    
                </div>
                <div class='terms'>
                    <button (activated)='showingInitialDialog = false' clickOnReturn>קראתי את תנאי השימוש</button>
                    <a class='terms-link' [routerLink]="'/terms'">תנאי השימוש</a>    
                </div>
            </div>
        </app-modal>
    }
</div>