<app-header></app-header>
<div class='hero'>
    <div class='title'>
        <h1>קטלוג עצי הרחוב והצל של ישראל</h1>
        <h2>
            הקטלוג הדיגיטלי מציג לראשונה באופן מיטבי מידע ממגוון מקורות מידע ציבוריים אודות מיני עצים,
            הכל כדי שתוכלו לבחור בקלות את העץ הנכון למקום הנכון.
        </h2>
    </div>
    
    <div class='sidewalks'>
        <span class='select'>בחרו רוחב מדרכה</span>
        <img class='sidewalk narrow' 
            [src]='sidewalkImage(SidewalkWidth.Narrow)'
            (click)='state.selectedSidewalkWidth = SidewalkWidth.Narrow'
            (mouseover)='hovering = SidewalkWidth.Narrow'
            (mouseout)='hovering = null'
        />
        <img class='sidewalk medium'
            [src]='sidewalkImage(SidewalkWidth.Medium)'
            (click)='state.selectedSidewalkWidth = SidewalkWidth.Medium'
            (mouseover)='hovering = SidewalkWidth.Medium'
            (mouseout)='hovering = null'
        />
        <img class='sidewalk wide'
            [src]='sidewalkImage(SidewalkWidth.Wide)'
            (click)='state.selectedSidewalkWidth = SidewalkWidth.Wide'
            (mouseover)='hovering = SidewalkWidth.Wide'
            (mouseout)='hovering = null'
        />
    </div>

    <div class='cta'>
        <button class='select-sidewalk' (activated)='selectingClimateArea=true' queryParamsHandling='preserve' [disabled]='!state.selectedSidewalkWidth' clickOnReturn>לבחירת עץ לפי רוחב מדרכה</button>
        <a class='skip' [routerLink]="'/catalog'" queryParamsHandling='preserve'>אולי פעם אחרת, קחו אותי לקטלוג המלא</a>
    </div>

    @if (selectingClimateArea) {
        <app-modal (close)='modalClosed()'>
            <div class='climate-modal'>
                <h2>בחרו אזור אקלים</h2>
                <h3>התאמה לרוחב מדרכה ולאזור אקלימי<br/>
                    קריטית לצימוח ואחזקה נאותה</h3>
                <div class='map'>
                    @for (option of FC_CLIMATE_AREAS.options; track option.key) {
                        @if (option.key !== 'all') {
                            <a class='area' (activated)='selectClimateArea(option.value)' clickOnReturn
                                [style.top.px]='CLIMATE_LABELS[option.value].top'
                                [style.right.px]='CLIMATE_LABELS[option.value].right'
                                [style.padding-right.px]='CLIMATE_LABELS[option.value].lineLength + 12'
                                [style.background-size]='(CLIMATE_LABELS[option.value].lineLength + 12) + "px 2px"'
                            >{{option.label}}</a>    
                        }
                    }
                </div>
            </div>
        </app-modal>
    }
    @if (showingInitialDialog) {
        <app-modal kind='intro'>
            <div class='intro'>
                <div class='title'>
                    <h1>ברוכים הבאים<br/>
                        לקטלוג עצי הרחוב והצל    
                    </h1>
                    <h2>
                        הקטלוג הדיגיטלי מציג לראשונה באופן מיטבי מידע ממגוון מקורות מידע ציבוריים אודות<br/>
                        מיני עצים, הכל כדי שתוכלו לבחור בקלות את העץ הנכון למקום הנכון.
                    </h2>    
                </div>
                <div class='terms'>
                    <button (activated)='showingInitialDialog = false' clickOnReturn>קראתי את תנאי השימוש</button>
                    <a class='terms-link' [routerLink]="'/terms'">תנאי השימוש</a>    
                </div>
            </div>
        </app-modal>
    }
</div>