.font-primary {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

@color-black: #000000;
@color-primary: #7E40BB;
@color-secondary: #2C4D39;
@color-gray-1: #999999;
@color-gray-2: #B3B3B3;
@color-gray-3: #DFDFDF;
@color-hover-1: #E1E9EC;
@color-bg-1: #F4F7FF;

