<div class='gallery' #gallery>
    @for (row of rows; track row.id) {
        <div class='row' [style.height.px]='rowHeight'>
            @for (photo of row.photos; track photo.url) {
                <div class='photo' [style.width]='photo.base'>
                    <img [src]='photo.url' (activated)='openLightbox(photo)' clickOnReturn/>
                    @if (photo.photographer || photo.license) {
                        <div class='copyright-logo'></div>
                        <app-tooltip class='copyright'>
                            @if (photo.photographer) {
                                @if (photo.photographer.indexOf('http') === 0) {
                                    <a href='{{photo.photographer}}' target='_blank'>קישור למקור התמונה</a><br/>
                                } @else {
                                    <span>תמונה: {{photo.photographer}}</span><br/>
                                }    
                            }
                            @if (photo.license) {
                                <span>רשיון שימוש: {{photo.license}}</span>
                            }
                        </app-tooltip>
                    }
                </div>
            }
        </div>
    }
</div>
