<div class='card'>
    <img [src]='tree.mainPhoto?.url || DEFAULT_URL' (load)='markAsLoaded()'>
    <a class='overlay' (activated)='open()' clickOnReturn>
        <div class='content'>
            <div class='header'>
                <div class='name'>
                    <h2>{{tree.name}}</h2>
                    <h3>{{tree.botanicalName}}</h3>        
                </div>
                @if (tree.recommended) {
                    <div class='recommended' title='מומלצי אתר קטלוג עצי רחוב וצל'></div>
                }
            </div>
            <div class='info'>
                <div [class]='"sidewalk " + tree.sidewalkWidth'></div>
                <div class='text'>
                    מדרכה {{tree.sidewalkWidthHe}}
                </div>
            </div>
            <div class='info'>
                <div class='climate-map'></div>
                <div class='text'>
                    @for (climate of tree.climateAreaHe ; track climate) {
                        <span>{{climate}}</span>
                    }
                </div>
            </div>
        </div>
    </a>
    @if (state.isInCart(tree)) {
        <a class='remove-from-cart' (activated)='state.removeFromCart(tree)' clickOnReturn aria-label="הסר מהמריצה">
        </a>
    } @else {
        <a class='add-to-cart' (activated)='state.addToCart(tree)' clickOnReturn aria-label="הוסף למריצה">
        </a>
    }
</div>
