<div class='card'>
    <img [src]='tree.mainPhoto?.url || data.DEFAULT_IMAGE_URL' (load)='markAsLoaded()'>
    <a class='overlay' (activated)='open()' clickOnReturn>
        <div class='content'>
            <div class='header'>
                <div class='name'>
                    <h2>{{tree.name}}</h2>
                    <h3>{{tree.botanicalName}}</h3>        
                </div>
                @if (tree.recommended) {
                    <app-tooltip-wrapper align='left' class='recommended-tooltip'>
                        <div anchor class='recommended'></div>
                        <div tooltip>מומלץ קטלוג עצי רחוב וצל</div>
                    </app-tooltip-wrapper>
                }
            </div>
            <div class='info'>
                <div [class]='"sidewalk " + tree.sidewalkWidth'></div>
                <div class='text'>
                    מדרכה {{tree.sidewalkWidthHe}}
                </div>
            </div>
            <div class='info'>
                <div class='climate-map'></div>
                <div class='text'>
                    @for (climate of tree.climateAreaHe ; track climate) {
                        <span>{{climate}}</span>
                    }
                </div>
            </div>
        </div>
    </a>
    @if (state.isInCart(tree)) {
        <app-tooltip-wrapper align='left' class='remove-from-cart'>
            <a anchor class='icon' (activated)='state.removeFromCart(tree)' clickOnReturn aria-label="הסרה מהמריצה"></a>
            <div tooltip>הסרה מהמריצה</div>
        </app-tooltip-wrapper>
    } @else {
        <app-tooltip-wrapper align='left' class='add-to-cart'>
            <a anchor class='icon' (activated)='state.addToCart(tree)' clickOnReturn aria-label="הוספה למריצה"></a>
            <div tooltip>הוספה למריצה</div>
        </app-tooltip-wrapper>
    }
</div>
