<app-text-page title='תנאי שימוש'>
<div class='columns'>
    <h2>מדיניות שימוש - הצהרה</h2>

    <p>אתר <strong>קטלוג עצי רחוב וצל</strong> הוא אתר מידע המתבסס על מידע ממקורות חופשיים וציבוריים. המידע שמוצג אינו מהווה ראיה לנכונותו ואנחנו לא נהיה אחראים לכל מקרה בו הסתמכתם על המידע שהוצג באתר. אף אם המידע עבר עיבוד על ידנו אין הדבר אומר שאנו נהא אחראים לתוכנו.</p>
    <p>אנו מקנים לכם <strong>זכות אישית</strong>, לא ניתנת להעברה, לצפות בתכני האתר ולשתפם באמצעות השימושיות של האתר. כל שימוש אחר כפוף לדין. כלומר, אם מערך מידע מסוים ניתן מרשות ציבורית, הרי שתנאי הרשיון של אותה רשות יחולו ו<strong>באחריותכם לבדוק זאת</strong>.</p>
    <p>בכל מקרה של אי-דיוק, טעויות, סיווג לא נכון או כל מקרה אחר, אנא צרו עמנו קשר.</p>
    <p>מבלי לגרוע מהאמור, הרי שאחריותנו כלפיכם תהא מוגבלת לסכום ששילמתם לנו עבור השימוש בשירות ב-30 הימים לפני אירוע קרות כל נזק.</p>
    
    <h2>מדיניות פרטיות לאתר היער העירוני הדיגיטלי</h2>
    
    <p><em>עדכון אחרון 14 אוקטובר 2024</em></p>
    
    <p>אנחנו, בפרויקט קטלוג עצי רחוב וצל, מבית <strong>הסדנא לידע ציבורי</strong> מעריכים את הפרטיות שלכם.</p>
    <p>לכן, ניסחנו מדיניות פרטיות זו כדי להבהיר לכם בדיוק מה המידע שישמר על אודותיכם, כיצד יעשה בו שימוש, למי תנתן גישה אליו, ומהן בהן ניתן לקבל עותק מהמידע או לתקנו, במקרה שהוא אינו נכון או עדכני או במקרה שתבקשו למחוק אותו.</p>
    
    <h3>מי אנחנו?</h3>
    <p><strong>הסדנא לידע ציבורי</strong> (ע"ר) היא עמותה המפעילה מספר פרויקטים. במקרה זה, אתר זה הוא נפרד מיתר הפעילויות שלנו.</p>
    <h3>האם אתם חייבים למסור לנו מידע?</h3>
    <p>בהתאם ל<strong>סעיף 11 לחוק הגנת הפרטיות</strong>, הרי שכל פניה לאנשים לקבלת מידע על אודותיהם מחייבת ליידע אותם האם יש חובה חוקית למסירת המידע, או שמסירת המידע תלויה ברצונם הטוב של מוסרי המידע.</p>
    <p>במקרה זה, אין חובה לספק את המידע, והעברת המידע תלויה ברצונם החופשי של נושאי המידע.</p>
    
    <h3>מה המידע האישי שאנחנו שומרים עליכם?</h3>
    <p><strong>אנו לא מבקשים ולא נשמור מידע אישי שלכם</strong> אלא ככל שתשתמשו בטפסי יצירת הקשר, הרי שאנו נשמור אף את פרטי הקשר שפרסמתם שם, לרבות שם, כתובת דואר אלקטרוני, מספר הטלפון ותוכן ההודעה.</p>
    <p>מידע זה יכול שיהיה מידע מזהה, ויכול שיהיה מידע שאינו מזהה. <strong>מלבד זאת, כל המידע שישמר הוא מידע סטטיסטי ולא מזהה.</strong></p>
    <h3>מה המידע הלא-מזהה שישמר על אודותיכם?</h3>
    <p>גם מידע שאינו מזהה עשוי עדיין לאפשר לאחרים ללמוד על אודותיכם.</p>
    <p>לכן, חשוב שתדעו שאנחנו שומרים את המידע הבא גם כן: מידע טכני, כגון סוג הדפדפן ומידע בנוגע לתוספים והגדרות במכשיר, מידע בנוגע לעמודים הנצפים, לשימוש בשירות וכדומה וכן מידע טכני שיתקבל במהלך התקשורת עמכם.</p>
    
    <h3>כיצד מידע על אודותיכם נאסף?</h3>
    <p>המידע נאסף באמצעות יומני השרת ובאמצעות שירות <strong>Google Analytics</strong> המעבדים את הנתונים הלא-מזהים כדי לספק לנו תובנות על השימוש בשירות. מעבר לכך, ככל שתצרו איתנו קשר, הרי שנאסוף את הפרטים שתזינו בטפסים לצורך מענה.</p>
    
    <h3>כיצד נעשה שימוש במידע על אודותיכם?</h3>
    <p>אנו נשתמש במידע שנאסף על אודותיכם לצורך מתן השירות, שיפורו ומניעת הונאות.</p>
    
    <h3>למי עוד יש גישה למידע?</h3>
    <p>המידע שלכם נגיש לעובדים שלנו שנמצאים תחת חובת סודיות; כמו כן, יתכן כי במקרים מסוימים אנחנו נספק גישה זמנית למי שדרושים לנו לאספקת השירות, תחת הסכם עיבוד מידע ספציפי.</p>
    
    <h3>מיהם הצדדים השלישיים להם יש גישה?</h3>
    <p>צדדים שלישיים הם שירותים חיצוניים המקבלים גישה למידע ומסייעים לנו במתן השירות.</p>
    <p>במקרה שלנו אנו משתמשים במספר שירותים כדי לספק לכם את השירות.</p>
    <p>אנחנו משתמשים בשירותי <strong>Google Analytics</strong> לצורך איסוף מידע סטטיסטי ושיפור השירות.</p>
    
    <h3>כיצד אנחנו יכולים לצור איתכם קשר?</h3>
    <p>אנו לא נצור עמך קשר אלא במקרים של אירוע אבטחה חמור.</p>
    
    <h3>האם אתם יכולים לעיין במידע, לתקן או לעדכן מידע הנוגע אלייכם?</h3>
    <p>בהתאם ל<strong>סעיף 13 לחוק הגנת הפרטיות</strong>, זו זכותכם לעיין במידע השמור עליכם.</p>
    <p>בהתאם ל<strong>סעיף 14 לחוק</strong>, תוכלו לעדכן או לתקן מידע שאינו עדכני עוד.</p>
    <p>על פי החוק הישראלי, אין חובה לאפשר לכם למחוק מידע, אך אם תפנו לממונה על הגנת הפרטיות במאגר, אנו נוכל לעזור לכם ולבדוק האם ניתן.</p>
    <p>זכויות של נושאי מידע אירופאים</p>
    <p>ככל שהוראות תקנות הגנת הפרטיות (הוראות לעניין מידע שהועבר לישראל מהאזור הכלכלי האירופי), <strong>תשפ"ג-2023</strong> יחולו עליכם, הרי שזכויותיכם על פי דין יגברו על האמור במדיניות פרטיות זו.</p>
    <p>משך שמירת המידע</p>
    <p>אנו נשתמש במידע שלכם לתקופה הדרושה לנו לפרסום המידע, ובכל מקרה נשמור אותו לתקופות הדרושות על פי דין. אנו נבצע אנונימיזציה או התממה של מידע שאינו דרוש לנו עוד.</p>
    
    <h3>ומה עם עוגיות?</h3>
    <p><strong>עוגיה</strong> היא קובץ קטן שמושתל על המחשב שלכם, ומאפשר לנו לחסוך מילוי פרטים כמו פרטי התחברות והתקשרות בכל עמוד. מצד שני, גורמים עוינים יכולים להשתמש <strong>בעוגיות</strong> כדי לעקוב אחריכם לאורך הרשת. במקרה של השירות שלנו, אנו משתמשים הן בעוגיות שלנו (צד-ראשון) והן בעוגיות של שירותים חיצוניים (צד-שלישי). אין חובה לאפשר את כלל <strong>העוגיות</strong> האלו, וככל שתבחרו לסרב, זו זכותכם המלאה.</p>
    
    <h3>ומה עם אירועי אבטחה?</h3>
    <p>נכון להיום, החוק הישראלי אינו מחייב בעלי מאגר מידע לעדכן אתכם על אירועי אבטחת מידע שהתרחשו, אלא דורש כי הדיווח יגיע <strong>לרשות להגנת הפרטיות</strong>. אנחנו עומדים בחובה החוקית, ונדווח במקרה שבו רשות מוסמכת תורה לנו לדווח על אירוע אבטחה.</p>
    
    <h3>ממונה הגנת הפרטיות</h3>
    <p>ממונה הגנת הפרטיות במאגר הוא <strong>אמרי בריקנר</strong>. ניתן ליצור עמו קשר בכתובת הדואר האלקטרוני <a href="mailto:emri&#64;hasadna.org.il"><strong>emri&#64;hasadna.org.il</strong></a></p>
    
    <h3>שינויים ועדכונים</h3>
    <p>ככל שיהיו שינויים ועדכונים במסמך זה, אנו נביא אותם לידיעתכם בהקדם, על ידי עדכון אתר האינטרנט שלנו, או על ידי שליחת הודעה לכלל המשתמשים שלנו.</p>
</div>
</app-text-page>