<app-text-page title='אודות'>
    <p>
        בעידן של שינויי אקלים, חשיבותם של עצי הרחוב והצל הולכת וגדלה.
    </p>    
    <p>
        עצי הרחוב תורמים רבות לערים שלנו: הם מספקים צל, מורידים את הטמפרטורה, ומקטינים את אי הנוחות האקלימית באיי החום העירוניים. העצים משפרים את האסתטיקה העירונית, מצמצמים זיהום אוויר ורעש, בעלי תרומה אקולוגית, מהווים חלק מהזהות המקומית, בעלי ערך חינוכי ואף מייצרים ערך כלכלי.
    </p>
    <p>
        הקושי במימוש פוטנציאל זה נעוץ בטווח הזמן הארוך הנדרש לצמיחתו של עץ בוגר ובמשך חייו הארוך, לצד היותו יצור חי ודינמי. כדי לממש את הפוטנציאל הרב של 'היער העירוני', יש צורך בהשקעת משאבים לאורך זמן, בידע מקצועי וניסיון החל משלב התכנון ועד האחזקה.        
    </p>
    <div class='two'>
        <div>
            <h2>
                האתגר: בחירת מין העץ הנכון למקום הנכון
            </h2>
            <p>
                בחירת העצים והתאמתם התכנונית למרחב העירוני קריטית למימוש תרומתם הפוטנציאלית ולצמצום דרישות האחזקה והעלויות לרשות המקומית.
            </p>
            <p>
                בחירת עצים לפרויקט פיתוח הוא תהליך ארוך המתחיל במסמכים תכנוניים ואסטרטגיים שונים, ממשיך בהכנת תכניות מפורטות לביצוע ותכניות גינון הכוללות את מיקומי הנטיעות ומיני העצים ומסתיים בבחירת העצים עצמם במשתלות סיטונאיות. 
            </p>
            <p>
                למרות שקיים ידע רב בישראל, נוטים לחזור על אותן טעויות בשל קושי לשלב את הידע האגרונומי - תכנוני בתהליך התכנון הקיים. אנו סבורים, כי אחת הסיבות היא ה'חיכוך' והקושי של מתכננים לאגום ולעבד את המידע והידע הקיים. 
            </p>
            <p>
                לעת עתה, לא קיים מענה טכנולוגי 'מקצה לקצה' המלווה תהליך בחירת העץ: מרמת תמהיל עצים לפרויקט, הצבתם במרחב ובחירתם במשתלה. שאלנו את עצמנו כיצד נוכל לתת מענה, ולו חלקי, שיקל על שלב הלימוד של אדריכלים ומתכננים המחפשים את מין העץ הנכון למקום הנכון.
            </p>        
        </div>
        <div>
            <img [src]='environment.base + "img/illus-about-page.png"' alt='ציור של עץ רחוב וצל על רקע עירוני'>
        </div>
    </div>
    <div class='two'>
        <div>
            <img [src]='environment.base + "img/illus-about-page.png"' alt='ציור של עץ רחוב וצל על רקע עירוני'>
        </div>
        <div>
            <h2>
                המענה: קטלוג עצי הרחוב והצל 
            </h2>
        
            <p>
                קטלוג עצי הרחוב הדיגיטלי אוסף לראשונה בישראל ידע ומידע ציבורי מקצועי הנוגע למיני עצי רחוב וצל. המידע נועד לסייע לאדריכלים, מתכננים ובעלי תפקידים ברשויות המקומיות לבצע בחירות מבוססות ומושכלות, תוך צמצום דרישות התחזוקה והעלויות העתידיות.
            </p>
        
            <p>
                <strong>הקטלוג מאפשר:</strong>
            </p>
            <ul>
                <li>לסנן מיני עצים לפי שיקולים תכנונים והתאמה למרחב</li>
                <li>להשוות בקלות בין שיקולי נוף וסביבה לשיקולי אחזקה ברמת העץ</li>
                <li>להשוות בין מיני עצים ולשקלל תמורות בינהם (Side By Side)</li>
                <li>לדעת איפה נטועים מיני עצים דומים לאלו שאתם מחפשים ברמת הכתובת והנ.צ כדי שתוכלו ללמוד מדוגמאות מקומיות ולקבל השראה</li>
                <li>לשתף או לייצא מידע מפורט אודות עץ לטובת ייעול תהליך בחירת העץ מול גורמים שונים</li>
                <li>ליצור לכם את רשימת העצים שלכם ('עגלת עצים')</li>
                <li>למצוא עצים דומים לעצים שבחרתם</li>
                <li>להשתמש במידע באופן חופשי ולהוריד תמונות ברישיון שימוש מתירני</li>
                <li>להוריד ולעשות שימוש בתמונות בהתאם לרשיון השימוש</li>
            </ul>
        </div>
    </div>

    <h1>נקודת מבט אדריכלית</h1>

    <p>
        בעת איפיון הפרויקט שוחחנו עם אדריכלים רבים ולמדנו על הקשיים בבחירת עצים לפרויקט. 
    </p>

    <p>
        איבחנו שמדובר בתהליך היוועצותי מקצועי המבוסס על פי רוב בניסיון קודם והעדפות הולכות ומתקבעות. ראינו שמאמץ רב מושקע בליקוט מידע ידני מספרים מודפסים, אתרים, קבצי PDF ופגישות.
    </p>
    <p>
        הבנו שתהליך בחירת העץ כרוך ב"חיכוך" רב מול בעלי תפקידים ובעלי עניין רבים, ושיותר מדי מאמץ כרוך ביצירת חלופות ושקלול תמורות בין מיני עצים.
    </p>
    <p>
        ראינו שלפעמים מרוב פרמטרים קשה להבין אילו החשובים ביותר, בייחוד בהקשר התאמה תכנונית למרחב.
    </p>
    <p>
        שמענו שקשה לדעת איפה קיימים מיני עצים דומים לאלו שאתם מחפשים באזור התכנון או אזור דומה, וזאת משום שכאדריכלים אתם לומדים ממקרי בוחן, מצב קיים ומוקדי השראה.
    </p>
    <p>
        למדנו שקיים מתח בין רשימת עצים מצומצמת רשמית ו-"נכונה" לתהליך התכנון האדריכלי שהוא יצירתי ומחדש במהותו. אנחנו מאמינים שבכדי לא לחזור על טעויות עבר יש לבסס רשימת עצים המאפשרת בחירת מינים בדרך המלך שבין רשימה אגרו-טכנית בת עשרות מינים למאגר הידע הרחב, שבישראל לבדה, מונה מאות רבות של עצים.
    </p>
    <p>
        ובעיקר, הפנמנו שבחירת עצים היא תהליך רגשי בו מעורבים גורמים רבים, ושאין בו תשובה חד משמעויתיות  'רובוטית'. לכן, החלטנו שלצד הצורך להציג בפשטות נתונים יבשים ובניית כלי מסייע לקבל החלטות, יש להשאיר מקום לשיקול הדעת התכנוני - מקצועי - יצירתי בהתאם לכל מקום וייחודו.
    </p>
    <p>
        כשבנינו את הקטלוג, השתדלנו להסתכל על כל אלו ולעצבו בצורה שתקל עליכם, אדריכלים ומתכננים, לעשות בו שימוש מועיל ולהופכו לכלי עבודה.
    </p>
    <p>
        <strong>
            זו רק ההתחלה
        </strong>
    </p>

    <p>
        הקטלוג הוא אתר ומאגר 'נושם' שיילך ויגדל ויתעדכן. ככל שהשימוש יתרחב נוכל לזהות ולתעדף צרכי משתמשים ולשפר את התוכן והיישומים.
    </p>

    <h1>שותפים</h1>
    <p>
פרויקט קטלוג עצי רחוב וצל בוצע בשיתוף ומימון מרכז האקלים של קרן קיימת לישראל במסגרת קול קורא למיזמי פיילוט סביבתיים מוכווני אקלים. 
    </p>
    <div class='two'>
        <div>
            <h1>
                הסדנא לידע ציבורי
            </h1>
            <p>
                הפרויקט בוצע על ידי הסדנא לידע ציבורי (ע"ר) כפרויקט פיילוט בתמיכת קק"ל שלא למטרת רווח. אנו רואים בו תשתית צומחת לשיתוף ופתיחת מידע ולכן המערכת פותחה בקוד פתוח ברישיון שימוש מתירני ותוכננה כך שתוכל לאגד מספר מקורות מידע ושיתוף נתונים בהתאם לחזון עמותת הסדנא לידע ציבורי. 
            </p>        
        </div>
        <div>
            <h1>
                צור קשר
            </h1>
            <p>
                ליצירת קשר בכל נושא, מתן משוב לאתר או שיתוף מידע ותמונות עצים, ניתן ליצור קשר בכתובת המייל: <a href="mailto:trees@hasadna.org.il" target='_blank'>trees&#64;hasadna.org.il</a>, או באמצעות ה<a href='https://airtable.com/appzGQVzEJGPXV32M/pagD8qTH6NowCXi8U/form' target='_blank'>טופס</a>
            </p>        
        </div>
    </div>

    <h1>
        מקורות המידע
    </h1>

    <p>
        אתר <strong>קטלוג עצי רחוב וצל</strong> הוא אתר מידע המתבסס על מידע ממקורות חופשיים וציבוריים. 
    </p>
    <ol>
        @for (resource of ABOUT_RESOURCES; track resource.name) {
            <li>
                <a href='{{resource.url}}' target='_blank'>{{resource.name}}</a> ({{resource.citation}}, {{resource.year}})
            </li>
        }
    </ol>
    <p>
        האתר כולל תמונות שנלקחו ממקורות שונים. לכל תמונה משוייכות זכויות יוצרים בהתאם למקור המצויין בה.
    </p>
</app-text-page>

