<app-header></app-header>
<div class='header'>
    <div class='title-line'>
        <h1>מריצת העצים שלי</h1>
        <div class='controls'>
            <a class='catalog' (activated)='close()' clickOnReturn>חזרה לקטלוג העצים המלא</a>
            <a class='share' clickOnReturn>שיתוף</a>
            <a class='pdf-download' (activated)='saveAsPdf()' clickOnReturn>הורדה כ-PDF</a>
            <app-cart-icon></app-cart-icon>
        </div>    
    </div>
    <div class='tips'>
        <h2>בחירת עצים היא תהליך מתמשך הקשור בבעלי עניין רבים. מומלץ להעזר בתוצרי הקטלוג לצורך קידום דיון מקצועי אודות יתרונות וחסרונות מיני העצים. ניתן לשתף בקלות את המידע שהפקתם או להוריד אותו ל-PDF.</h2>
        <div class='extra-tips-toggle' (click)='showTips = !showTips' [class.open]='showTips'>
            <div class='toggle'></div>
            <span>טיפים נוספים</span>
        </div>
        @if (showTips) {
            <p class='extra-tips'>
                <span>כדאי לראות עצים אמיתיים במקומות דומים לאזור הנטיעה המבוקש ולרכוש תובנות תכנוניות - אגרונומיות ואחזקתיות.</span>
                <span>לשם כך תוכלו להעזר בפיצ'ר "יער עירוני דיגיטלי" ולמצוא מיקומי עצים לפי רשות מקומית.</span>
                <span>ניתן לשקול לחפש עצים דומים לאלו שמצאתם דרך הקטלוג באמצעות ההצעה בכרטיסיית המין.</span>
                <span>צריך לזכור שבחירת העץ מסתיימת בחיפושו במלאי המשתלות ובחירת הפרטים הספציפיים, וכלל הנראה יהיו עוד שינויים בדרך עד הנטיעה.</span>
                <span>קביעת העקרונות וסדרי העדיפות לבחירת מיני העצים יסייעו לכם להתמודד עם אי הוודאות בתהליך זה.</span>
            </p>
        }
    </div>
</div>
<div class='comparison-container'>
    <div class='comparison'>
        <div class='right-controls'>
            <button class='download-pdf' (activated)='saveAsPdf()' clickOnReturn>הורדה בפורמט PDF</button>
            <a routerLink='/catalog' class='add-tree' clickOnReturn queryParamsHandling='preserve'>
                הוספת מועדף
            </a>
        </div>
        @if (state.cart().length > 0) {
            <table #comparison>
                <tbody>
                    <tr class='images'>
                        <td class='add-new'>

                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td class='photo'>
                                <img [src]='t.mainPhoto?.url || data.DEFAULT_IMAGE_URL'>
                                <div class='controls'>
                                    @if (!$first) {
                                        <app-tooltip-wrapper>
                                            <a anchor class='move-right' (activated)='state.moveBeforeInCart(t)' clickOnReturn></a>
                                            <div tooltip>הזזה ימינה</div>
                                        </app-tooltip-wrapper>
                                    }
                                    <app-tooltip-wrapper>
                                        <a anchor class='remove' (activated)='deleteCandidate = t' clickOnReturn></a>
                                        <div tooltip>הסרה מהמריצה</div>
                                    </app-tooltip-wrapper>
                                    <app-tooltip-wrapper>
                                        <a anchor class='expand' [routerLink]='["/tree", t.id]' clickOnReturn></a>
                                        <div tooltip>הרחבת תעודת זהות</div>
                                    </app-tooltip-wrapper>
                                    @if (!$last) {
                                        <app-tooltip-wrapper>
                                            <a anchor class='move-left' (activated)='state.moveAfterInCart(t)' clickOnReturn></a>
                                            <div tooltip>הזזה שמאלה</div>
                                        </app-tooltip-wrapper>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                    <tr class='titles'>
                        <td></td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <a [routerLink]='["/tree", t.id]' clickOnReturn>
                                    <h3>{{t.name}}</h3>
                                    <h4>{{t.botanicalName}}</h4>
                                </a>
                            </td>
                        }
                    </tr>
                    <tr class='title'>
                        <td>
                            התאמה תכנונית
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    <tr class='sepline'>
                        <td></td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>רוחב מדרכה</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.sidewalkWidthHe}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>אזור אקלים</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.climateAreaHe}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>רשימת עצים</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <div class='col'>
                                    @for (catalogName of t.catalogs; track catalogName) {
                                        <span>{{catalogName}}</span>
                                    }    
                                </div>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>התאמה לקרקע <app-tooltip-icon-soil-type></app-tooltip-icon-soil-type></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.soilType}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>מקומי <app-tooltip-icon-native></app-tooltip-icon-native></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.isNative ? "כן" : "לא"}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>ערך המין <app-tooltip-icon-species-value></app-tooltip-icon-species-value></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.speciesValue}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='title'>
                        <td>
                            נוף
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    <tr class='sepline'>
                        <td></td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>                

                    <tr class='param'>
                        <td>
                            <span>קוטר צמרת</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.canopyWidth}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>מבנה צמרת</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span class='canopy-shape'>
                                    <div class='img' [style.background-image]='"url(" + canopyShapeImg(t.canopyShape) +")"'></div>
                                    <span>{{t.canopyShapeHe}}</span>    
                                </span>
                            </td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>גובה העץ</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.canopyHeight}}</span>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>צבע פריחה</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <div class='bloom-colors'>
                                    @for (color of t.bloomColor; track color) {
                                        <img [src]='bloomColorImg(color)'/>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>מועד פריחה</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.bloomSeason}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='title'>
                        <td>
                            אחזקה
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    <tr class='sepline'>
                        <td></td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>דירוג השקיה <app-tooltip-icon-watering-scale></app-tooltip-icon-watering-scale></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <div class='watering-scale'>
                                    @for (i of wateringScaleImg(t.wateringScale); track $index) {
                                        <img [src]='i'>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                    <tr class='param'>
                        <td>
                            <span>חסכוני במים</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <div class='line extra-watering'>
                                    @if (t.isWaterEconomical) {
                                        <span class='economical'></span>
                                    }                
                                    <span>{{t.extraWatering}}</span>    
                                </div>
                            </td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>מקדם שבירות <app-tooltip-icon-brittleness></app-tooltip-icon-brittleness></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.brittlenessCoefficient}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>קצב צימוח</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.growthRate}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>נשיר <app-tooltip-icon-deciduous></app-tooltip-icon-deciduous></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.deciduous}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='param'>
                        <td>
                            <span>צופני <app-tooltip-icon-nectar></app-tooltip-icon-nectar></span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                <span>{{t.hasNectar ? "כן" : "לא"}}</span>
                            </td>
                        }
                    </tr>

                    <tr class='title'>
                        <td>
                            מידע יע״ד
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    <tr class='sepline'>
                        <td></td>
                        @for (t of state.cart(); track t.id) {
                            <td>&nbsp;</td>
                        }
                    </tr>
                    
                    <tr class='param'>
                        <td>
                            <span>עצי רחוב מוכרים ממין זה</span>
                        </td>
                        @for (t of state.cart(); track t.id) {
                            <td>
                                ...
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        }
    </div>
    @if (state.cart().length === 0) {
        <div class='empty'>
            <div class='graphic'>
                <a class='star' routerLink='/catalog' queryParamsHandling='preserve'></a>
                <div class='arrow'></div>
                <div class='cart'></div>    
            </div>
            <div class='text'>
                <h2>מריצת העצים ריקה</h2>
                <span>להוספת עצים להשוואה יש ללחוץ על הכוכב</span>    
            </div>
        </div>
    }
</div>
@if (deleteCandidate !== null) {
    <app-modal>
        <div class='remove-modal'>
            <h3>הסר עץ זה ממריצת העצים</h3>
            <button (activated)='removeFromCart()' clickOnReturn>הסר מהמריצה</button>
            <a (activated)='deleteCandidate = null' clickOnReturn>התחרטתי, השאר עץ במריצה</a>    
        </div>
    </app-modal>
}