<app-text-page title='הצהרת נגישות'>
    <div class='columns'>

        <p><em>תאריך עדכון אחרון: 01/03/2025</em></p>

        <p>
            אנחנו, באתר קטלוג עצי רחוב וצל מכבד את כל פלחי האוכלוסיה. לכן, ניסחנו הצהרת נגישות זו זו כדי להבהיר לך בדיוק מה הצעדים שננקטו להבטיח הכלה ושמירה על כל האוכלוסיות.
        </p>
        <p>
            הצהרת הנגישות שלנו נוצרה על ידי מחולל הצהרת הנגישות של יהונתן קלינגר, אך יהונתן אינו ערב לטיבה של ההצהרה, והוא לא בדק את הנתונים שהוזנו בטפסים.
            השימוש בהצהרת נגישות זו הוא על אחריות המשתמש בלבד, ובהתאם למידע שהוזן. 
        </p>
        <h2>רמת הנגישות באתר</h2>
        <p>
        כללי התוכן האינטרנטי לנגישות (WCAG) מגדירים דרישות למעצבים לשפר את הנגישות לאנשים עם מוגבלויות. הם מגדירים שלוש רמות תאימות: רמה A, רמה AA ורמה AAA. 
        </p>
        <p>
            האתר שלנו עומד ברמת נגישות AA לפי תקן WCAG.
        </p>
        <p>
            עם זאת, יתכנו חריגות ועמודים שלא עומדים בתקן זה, ובמקרה כזה, אנא הודיעו לנו ונעשה כמיטב יכולתנו לתקן.
        </p>
        <h2>
            הדרך בה ביצענו את ההתאמות
        </h2>
        <p>
            ביצענו את ההתאמות באמצעות התאמת קוד האתר ובדיקה באמצעות כלי פיתוח אוטומטיים (lighthouse, קורא מסך).
        </p>
        <h2>
            ההתאמות שביצענו באתר
        </h2>
        <p>
            לצורך עמידה בהוראות הנגישות, ביצענו מספר התאמות באתר. אלה כוללות:        
        </p>
        <ul>
            <li>בוצעו התאמות לגלישה באמצעות מקלדת</li>
            <li>הטקסטים נכתבו בשפה קריאה</li>
            <li>נבחרו צבעים המקלים על קריאה של המשתמשים</li>
            <li>לכל התמונות והאלמנטים האינטראקטיביים יש חיווי טקסטואלי</li>
            <li>מבנה הניווט באתר קבוע</li>
            <li>ניתן להשתמש במקלדת ובגלגלת העכבר להגדלת והקטנת הטקסט</li>
        </ul>
        <h2>
            החרגות בנגישות
        </h2>
        <p>
            ישנן מספר החרגות, שנובעות מכך שלמרות מאמצים, לא הצלחנו לסדרן. החרגות אלה הן:
        </p>
        <p>
            ייצוא PDF או תמונה או הצגת אלמנטים ויזואלים נוספים. הפרויקט הינו פיילוט הנמצא בבנייה (גרסת בטא), ולכן התאמות נוספות יתבצעו בהמשך. בכל שאלה ניתן לפנות אלינו וניתן מענה ישיר ואישי.
        </p>
        <h2>
            יצירת קשר ופניות
        </h2>
        <p>
            לכל שאלה או פניה, ממונה הנגישות באתר יהא זמין וניתן ליצור עמו קשר כך:
            אמרי בריקנר, הסדנא לידע ציבורי,
            <a href="mailto:emri@hasadna.org.il">emri&#64;hasadna.org.il</a>
        </p>
    </div>
</app-text-page>

