@import '../../common.less';

:host {
    padding: 30px;
    background-color: @color-white;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 450px;
    gap: 5px;

    .logo {
        .background-image;
        background-image: url(../../../public/img/logo-yaad.svg);
        width: 155px;
        height: 66px;
    }
}