@import '../../common.less';

.container {
    position: absolute;
    z-index: 9999;
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    app-tooltip {
        pointer-events: none;
        div {
            pointer-events: all;
            &.inert {
                pointer-events: none;
            }
        }
    }
}