<div class='main-line'>
    <h2>כדי לאפשר התאמה מיטבית<br/>ניתן לבחור:</h2>
    <app-filter-dropdown [config]='FC_SIDEWALK_WIDTHS'></app-filter-dropdown>
    <app-filter-dropdown [config]='FC_CLIMATE_AREAS'></app-filter-dropdown>
    <app-filter-dropdown [config]='FC_TREE_TYPES'></app-filter-dropdown>
    <app-filter-dropdown [config]='FC_TREE_CATALOGS'></app-filter-dropdown>
</div>
<div class='extra'>
    <app-filter-toggles></app-filter-toggles>
    <div class='extra-filters-toggle' (click)='state.showExtraFilters = !state.showExtraFilters' [class.open]='state.showExtraFilters'>
        <div class='toggle'></div>
        <span>פילטרים נוספים</span>
    </div>
    @if (state.showExtraFilters) {
        <div class='parts'>
            <div class='part'>
                <h3>נוף</h3>
                <div class='filters-list'>
                    <app-filter-multiple-select [config]='FC_CANOPY_WIDTH'></app-filter-multiple-select>
                    <app-filter-multiple-select-canopy [config]='FC_CANOPY_SHAPE'></app-filter-multiple-select-canopy>
                    <app-filter-multiple-select [config]='FC_CANOPY_HEIGHT'></app-filter-multiple-select>
                    <app-filter-multiple-select-colors [config]='FC_BLOOM_COLOR'></app-filter-multiple-select-colors>
                </div>
            </div>
            <div class='part'>
                <h3>אחזקה</h3>
                <div class='filters-list'>
                    <!-- <app-filter-multiple-select [config]='FC_WATERING_SCALE'></app-filter-multiple-select> -->
                    <app-filter-multiple-select [config]='FC_GROWTH_RATE'></app-filter-multiple-select>            
                    <app-filter-multiple-select [config]='FC_ECONOMICAL'></app-filter-multiple-select>            
                    <app-filter-multiple-select [config]='FC_DECIDUOUS'></app-filter-multiple-select>            
                </div>
            </div>
        </div>
    }
</div>