@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 58px;
    margin-top: 15px;
    margin-bottom: 58px;

    .main-line {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 14px;

        h2 {
            margin: 0;
            color: @color-black;
            .font-primary;
            font-size: 20px;
            font-weight: 700;
            line-height: 29px;
            white-space: nowrap;
        }
    }

    .extra {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        gap: 30px;
        .part {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            gap: 5px;
            h3 {
                color: @color-gray-0;
                .font-primary;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                margin: 0;
            }
            .filters-list {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                gap: 30px;        
            }
        }
    }
}